flake8==7.0.0
flax==0.7.5
ipython==8.12.3
jax==0.4.21
jaxlib==0.4.21+cuda12.cudnn89
jaxline==0.0.7
jupyterlab==4.1.2
matplotlib==3.8.3
ml-collections==0.1.1
numpy==1.26.2
pathlib==1.0.1
scipy==1.11.4
typing_extensions==4.9.0
ml-collections==0.1.1
